<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>formal-web.net</string>

    <key>MachServices</key>
    <dict>
        <key>formal-web.net</key>
        <true/>
    </dict>

    <key>ProgramArguments</key>
    <array>
        <string>__TARGET_DIR__/formal-web-net</string>
        <string>--net-token</string>
        <string>xpc</string>
    </array>

    <key>XPCService</key>
    <dict>
        <key>ServiceType</key>
        <string>Application</string>
        <key>RunLoopType</key>
        <string>NSRunLoop</string>
    </dict>
</dict>
</plist>
